body {
  overscroll-behavior: none;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  color: white
}

.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.panel{
  width: 100vw;
}

.titlepage{
  margin: none;
}

#aboutme{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 4vw 4vw 4vw 4vw;
  padding: 1vw 1vw 1vw 1vw;
  font-size: max(15px, 1.5vw);
  position: fixed;
}

h1{
  color: white
}

#imgJosh{
  width: 40vw;
  max-width: 300px;
  margin: 0vw 4vw 0vw 0vw;;
}

#experience{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 4vw 4vw 4vw 4vw;
  padding: 1vw 1vw 1vw 1vw;
  font-size: max(15px, 1.5vw);
  position: fixed;
}
#projects{
  background-color: rgba(0, 0, 0, 0.5);
  margin: 4vw 4vw 4vw 4vw;
  padding: 1vw 1vw 1vw 1vw;
  font-size: max(15px, 1.5vw);
  position: fixed;
}

#imgWSP{
  width: 40vw;
  max-width: 300px;
  margin: 0vw 4vw 0vw 0vw;

}#imgGo{
  width: 18vw;
  max-width: 200px;
  margin: 0vw 4vw 0vw 0vw;
}
.imgProject{
  height: 40vw;
  max-height: 200px;
  max-width: 200px;
  margin: 0vw 4vw 0vw 0vw;
}
#contact{
  position:fixed;
  bottom: 0vh;
  left:0vw;
  background-color: rgb(0, 0, 0);
  font-size: max(15px, 1.5vw);
}

@media (max-width: 768px) { 

  body { 

      font-size: 14px; 

  } 

  nav ul { 

      display: flex; 

  } 

} 