canvas {
    
}

body {
  overscroll-behavior: none;
  height: 100vh;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  scrollbar-width: 0;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
}
.container {
  overscroll-behavior: none;
  width: 600%;
  height: 100%;
  display: flex;
  flex-wrap: nowrap;
}

.panel{
  width: 100vw;
}

.titlepage{
  margin: none;
}